<!-- <h2>Currently Here Are Your Options</h2> -->
<!-- <button (click)="displayTable()" id="btn3">MAIN PAGE</button> -->

<head>
    <style>
        img {
            float: right;
            width: 600px;
            height: 900px;
        }
    </style>
</head>
<div id='VolunteerList' *ngIf='!selected'>
    <p><img src='/assets/photos/IMG_1943.jpg'></p>
    <table id='allTable'>
        <!-- <img src="IMG_1943.jpg" style="float: right; width: 150px; height: 300px; "> -->
        <thead>
            <tr>
                <th>: ID : </th>
                <th>Email Address</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Active True/False</th>
            </tr>
            <tr *ngFor="let vol of vols">
                <td (click)="displayVolunteer(vol)" type='button' style=background-color:beige>{{vol.id}}</td>
                <td>{{vol.username}}</td>
                <td>{{vol.firstname}}</td>
                <td>{{vol.lastname}}</td>
                <td>{{vol.active}}</td>
            </tr>
        </thead>
    </table>
    <h2> Currently there are :{{getVolCount()}} active fosters.</h2>
    <h3>Just Click on the ID number to see more about this volunteer.</h3>

    <h3>To Become A Volunteer With Us : </h3>
    <button (click)="toggle()" id='btn1'>Click Here / Or To Return</button>
    <br><br>

</div>
<div id='displayVolunteer' *ngIf='selected'>
    <table>
        <thead>
            <tr>
                <th id="th1">: Id :</th>
                <th>Email Address :</th>
                <th>First Name :</th>
                <th>Last Name :</th>
                <th>Active Foster</th>
                <th>Size of Dogs Willing</th>
                <th>Breeds Willing to Foster</th>
            </tr>
            <tr>
                <td>{{selected.id}}</td>
                <td>{{selected.username}} </td>
                <td> {{selected.firstname}} </td>
                <td> {{selected.lastname}} </td>
                <td> {{selected.active}} </td>
                <td> {{selected.size}} </td>
                <td> {{selected.breeds}} </td>
            </tr>

        </thead>
    </table>
    <button (click)="displayTable()" id="btn3">MAIN PAGE</button>
    <button (click)="setEditVol()" style="margin: 20px">EDIT</button>
    <button (click)="deleteVol(selected.id)" style="margin: 20px">DELETE</button>

</div>
<div id="createNewVolunteer" *ngIf="show && !selected">
    <form name='createNewVolunteer'>
        <input type='text' name='username' [(ngModel)]="newVol.username" size='40' placeholder='username/email_address'><br>
        <input type='text' name='password' [(ngModel)]="newVol.password" size='40' placeholder='password'><br>
        <input type='text' name='firstname' [(ngModel)]="newVol.firstname" size='40' placeholder='firstname'><br>
        <input type='text' name='lastname' [(ngModel)]="newVol.lastname" size='40' placeholder='lastname'>
        <br><br> Able To Volunteer Now?
        <select name='active' [(ngModel)]="newVol.active">
            <option value='true'>Yes</option>
            <option value='false'>No</option>
            </select><br><br> Dog Size Your Willing To Foster :
        <select name="size" [(ngModel)]="newVol.size">
            <option value="all">All</option>
            <option value="small">Small</option>
            <option value="small / medium">Small / Medium</option>
            <option value="medium">Medium</option>
            <option value="medium / large">Medium / Large</option>
            <option value="large">Large</option>
        </select><br><br>
        <input type='text' name='breeds' [(ngModel)]="newVol.breeds" size='40' placeholder='Breeds Your Willing To Foster'><br>
        <button type="submit" (click)="addNewVol()" name="createVol" id="btn2">Click To Become A Volunteer</button>
        <!-- <br>  -->
    </form>
    <!-- <button (click)="displayTable()">MAIN PAGE</button> -->
</div>

<div id="editVol" *ngIf="selected && editVol">
    <form>
        User Name / Email <input type='text' name='editUsername' [(ngModel)]="editVol.username" size='40' placeholder={{selected.username}}/>
        <br> Password <input type='password' name='editPassword' [(ngModel)]="editVol.password" size='40' placeholder={{selected.password}}/>
        <br> First Name <input type='text' name='editFirstname' [(ngModel)]="editVol.firstname" size='40' placeholder={{selected.firstname}}/>
        <br> Last Name <input type='text' name='editLastname' [(ngModel)]="editVol.lastname" size='40' placeholder={{selected.lastname}} />
        <br><br> Able To Volunteer Now?
        <select name='active' [(ngModel)]="editVol.active">
                <option value='true'>Yes</option>
                <option value='false'>No</option>
                </select><br><br> Dog Size Your Willing To Foster :
        <select name="size" [(ngModel)]="editVol.size">
                <option value="all">All</option>
                <option value="small">Small</option>
                <option value="small / medium">Small / Medium</option>
                <option value="medium">Medium</option>
                <option value="medium / large">Medium / Large</option>
                <option value="large">Large</option>
            </select><br><br>
        <input type='text' name='editBreeds' [(ngModel)]="editVol.breeds" size='40' placeholder={{selected.breeds}} /><br>
        <button (click)="editVol = null">CANCEL</button>
        <button (click)="updateVol()" id="btn4">SAVE</button>
        <button (click)="displayTable()">MAIN PAGE</button>
    </form>
</div>