h3 {
    margin: 40px;
    color: brown;
    text-align: center;
}

td,
th {
    border: 1px solid gainsboro;
    text-align: center;
}

#th1 {
    width: 35px;
}

button {
    padding: 5px 5px;
    text-align: center;
    width: 250px;
    font-size: 16px;
    margin: 20px;
    align-items: center;
}


/*.center {
    margin: center;
    width: 40%;
    float: center;
    align-self: center;
}*/