<!-- <h1>Testing app comp html</h1> -->
<div class='container-fluid'>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-md-8">
            <div>
                <em><h1>This Is The Dog Gone It Volunteer Site</h1></em> <br>
                <h2>Here We Can Share Information About Our Volunteers.</h2>

                <h2>Our Goal Is To Connect Fosters To</h2><em>
                <h2> No Kill Shelters</h2>
                </em>
                <h2>We Gladly Except New Volunteers</h2>
                <br>
            </div>
        </div>
    </div>
</div>
<div>
    <!-- <app-volunteer></app-volunteer> -->
    <app-volunteer>tracker loading...</app-volunteer>
</div>