.container-fluid {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	color: brown;
}

.container {
	margin: 5%;
}
li {
	list-style-type:none;
}
#username {
	resize: 700px;
}

/* #tablebody {
	margin: 5px;
	text-align: center;
}
td {
	margin: 20px;
	text-align: center;
} */